{% extends 'core/base.html' %}

{% block content %}
    <!-- Section -->

    <section class="blog-section-page">
        <div class="blog-container-page">
            <h1>The Blog</h1>
            {% for t in top_post %}
            <div class="blog-top-article">
                <!-- <i class="far fa-star"></i> -->
                <img src="{{ t.image.url }}" alt="">
                <!-- <i class="far fa-star"></i> -->
                <div class="top-article-info">
                    <!-- <h4>{{ t.title }}</h4> -->
                    <h5><a href="{{ t.get_absolute_url }}">{{ t.title }}</a></h5>
                    <span>{{ t.created }}</span>
                </div>
                <!-- <i class="far fa-star"></i> -->
            </div>
            {% endfor %}
            <div class="blog-top-articles">
                <h2>Popular Posts</h2>
                <div class="blog-articles">
                    <div class="blog-categories">
                        <h4>Top 10 Categories</h4>
                        <div class="top-category-list">
                            {% for c in categories %}
                            <a href="{% url 'blog:blog_category' c.pk %}">{{ c.title }}</a>&nbsp;
                            {% endfor %}
                        </div>
                        
                    </div>
                    {% for post in page_obj %}
                    <div class="blog-article ">
                        <div class="blog-article-info ">
                            <img class="" src="{{ post.image.url }}" alt="">
                            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                            <span>{{ post.created }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Pagination goes here -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

        <!--  -->
    </section>


{% endblock %}