{% extends 'core/base.html' %}

{% block content %}

 <!-- Section -->
 <section class="about-section">
    <div class="about-container">
        <div class="about-info-container">
            {% for ab_me in about_me %}
            <div class="about-me">
                <div class="about-person-img">
                    <img src="{{ ab_me.my_img.url }}" alt="">
                </div>
                <div class="about-person-info">
                    <h1>{{ ab_me.name }}</h1>
                    <p>{{ ab_me.short_desc }}</p>
                    <p class="about-email">{{ ab_me.email }}</p>
                    <div class="about-social-media-icons">
                        <a href="{{ ab_me.linkedIn_link }}" target="_blank"  ><i class="fab fa-linkedin-in"></i></a>
                        <a href="{{ ab_me.youtube_link }}" target="_blank" ><i class="fab fa-youtube"></i></a>
                        <a href="{{ ab_me.facebook_link }}" target="_blank" ><i class="fab fa-facebook-f"></i></a>
                        <a href="{{ ab_me.instagram_link }}" target="_blank" ><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="about-skills">
                <h2>Technologies I've Learned</h2>
                <div class="about-technologies">
                    {% for sk in skills %}
                    <div class="about-technology">
                        <span>{{ sk.tech_title }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="about-currently">
                <h2>What I'm Currently...</h2>
                <div class="about-currently-container">
                    <div class="about-working-on">
                        <h5>Working on</h5>
                        {% for wo in workingOn %}
                        <ul>
                            <li>{{ wo.name }}</li>
                        </ul>
                        {% endfor %}
                    </div>

                    <div class="about-working-on">
                        <h5>Reading / Listening</h5>
                        {% for wo in readlisten %}
                        <ul>
                            <li>{{ wo.bookname }}</li>
                            <li>{{ wo.audioname }}</li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}