{% extends 'core/base.html' %}

{% block content %}

    <!-- Hero Section -->
    <section class="hero-section">
        <h1><span class="word1">Designing</span> <span>&</span> <span class="word2">Building</span> </h1>
        <h2>FullStack WebApps</h2>
        <div class="hero-btns">
            <div class="hover-btn">
                <a class="hero-btn-1 normal-btn btn-hover" href="{% url 'blog:blog_home' %}">The Blog</a>
            </div>
            <div class="hover-btn">
                <a class="hero-btn-2 normal-btn btn-hover" href="{% url 'accounts:register' %}">Get Started</a>
            </div>
        </div>
    </section>


    <!-- Portfolio Section -->
    <section class="portfolio-section">
        <h2 class="portfolio-section-title">Portfolio</h2>
        <div class="portfolio-container">
            {% for p in project %}
            <div class="panel active" >
                <div class="project-info">
                    
                    <h3>{{ p.proj_title }}</h3>
                    <p>{{ p.short_desc }}</p>
                    <div class="project-btn-container">
                        <a class="project-btn normal-btn btn-hover" href="{% url 'core:portfolio-detail' p.pk %}"> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
                
                <!-- <img src="{{ p.proj_img.url }}" alt=""> -->
            
                
            </div>
            {% endfor %}
        </div>
    </section>


    <!-- Blog Section -->
    <section class="blog-section">
        <h2 class="blog-section-title">Blog</h2>
        <div class="blog-container">
            <div class="blog-detail-container">
                <div class="blog-heading-title">
                    <h3>Lastest Posts</h3>
                    <p>Want to learn to code? Start by reading the lastest articles on how to start your own projects.</p>
                </div>

                {% for p in posts %}
                <div class="post-info">
                    <h3>{{ p.title }}</h3>
                    <p>{{ p.samplebody }}</p>
                    <div class="post-btn-container">
                        <a class="post-btn normal-btn btn-hover" href="{{ p.get_absolute_url }}"> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


    </section>

{% endblock %}