{% extends 'core/base.html' %}

{% block content %}

    <!-- Hero Section -->
    <section class="hero-section">
        <h1><span class="word1">Designing</span> <span>&</span> <span class="word2">Building</span> </h1>
        <h2>FullStack WebApps</h2>
        <div class="hero-btns">
            <div class="hover-btn">
                <a class="hero-btn-1" href="#contact">The Blog</a>
            </div>
            <div class="hover-btn">
                <a class="hero-btn-2" href="#">Get Started</a>
            </div>
        </div>
    </section>


    <!-- Portfolio Section -->
    <section class="portfolio-section">
        <h2 class="portfolio-section-title">Portfolio</h2>
        <div class="portfolio-container">
            <div class="panel active" >
                <div class="project-info">
                    <h3>FastCart</h3>
                    <p>An app and management system that can help your business grow</p>
                    <div class="project-btn-container">
                        <a class="project-btn" href=""> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="panel " >
                <div class="project-info">
                    <h3>FastCart</h3>
                    <p>An app and management system that can help your business grow</p>
                    <div class="project-btn-container">
                        <a class="project-btn" href=""> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="panel " >
                <div class="project-info">
                    <h3>FastCart</h3>
                    <p>An app and management system that can help your business grow</p>
                    <div class="project-btn-container">
                        <a class="project-btn" href=""> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="panel " >
                <div class="project-info">
                    <h3>FastCart</h3>
                    <p>An app and management system that can help your business grow</p>
                    <div class="project-btn-container">
                        <a class="project-btn" href=""> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="panel " >
                <div class="project-info">
                    <h3>FastCart</h3>
                    <p>An app and management system that can help your business grow</p>
                    <div class="project-btn-container">
                        <a class="project-btn" href=""> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Blog Section -->
    <section class="blog-section">
        <h2 class="blog-section-title">Blog</h2>
        <div class="blog-container">
            <div class="blog-detail-container">
                <div class="blog-heading-title">
                    <h3>Lastest Posts</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
                <div class="post-info">
                    <h3>FastCart</h3>
                    <p>An app and management system that can help your business grow</p>
                    <div class="post-btn-container">
                        <a class="post-btn" href=""> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
                <div class="post-info">
                    <h3>FastCart</h3>
                    <p>An app and management system that can help your business grow</p>
                    <div class="post-btn-container">
                        <a class="post-btn" href=""> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
                <div class="post-info">
                    <h3>FastCart</h3>
                    <p>An app and management system that can help your business grow</p>
                    <div class="post-btn-container">
                        <a class="post-btn" href=""> <i class="fas fa-chevron-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>


    </section>

{% endblock %}