{% extends 'core/base.html' %}

{% block content %}

    <!-- Section -->
    <section class="portfolio-section-page">
        <div class="porfolio-container-page">
            {% for t in top_project %}
            <div class="portfolio-top-project">
                <div class="top-project-img">
                    <img src="{{ t.proj_img.url }}" alt="">
                </div>
                <div class="top-project-info">
                    <h2>{{ t.proj_title }}</h2>
                    <p>{{ t.short_desc }}</p>
                    <div class="top-project-btn">
                        <a href="{% url 'core:portfolio-detail' t.pk %}"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="portfolio-projects">
                <h2>Latest Projects</h2>
                <div class="portfolio-projects-container">
                    {% for pr in page_obj %}
                    <div class="portfolio-project">
                        <h4>{{ pr.proj_title }}</h4>
                        <span>{{ pr.tech_used }}</span>
                        <p>{{ pr.short_desc }}</p>
                        <div class="porfolio-project-btn">
                            <a href="{% url 'core:portfolio-detail' pr.pk %}"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Pagination goes here -->
            <!-- Pagination goes here -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

        </div>
    </section>

{% endblock %}