{% extends 'core/base.html' %}

{% block content %}

    <!-- Section -->
    <section class="project-detail-section">
        <div class="project-detail-container">
            <h1>{{ project.proj_title }}</h1>
            <div class="project-container">
                <div class="project-detail-img">
                    <img src="{{ project.proj_img.url }}" alt="">
                </div>
                <div class="project-detail-info">
                    <div class="project-detail-video">
                        <iframe src="https://www.youtube.com/embed/Vg5caGgmk0w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="project-detail-extra-img">
                        <img src="{{ project.proj_img.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="about-project-detail">
            <div class="about-project-info">
                <h2>About the Project</h2>
                <p> {{ project.long_desc|safe }} </p>
            </div>
            <div class="about-project-links">
                <h4>Project Links</h4>
                <div class="project-links">
                
                    <a href="{{ project.proj_url }}" target="_blank"  ><i class="fab fa-instagram"></i></a>
                    <a href="{{ project.blog_link }}" target="_blank" ><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}