{% extends 'core/base.html' %}

{% block content %}

<!-- Section -->

<section class="login-section">
    <div class="login-container">
        <h1>Signin to Your Account</h1>
        <input type="text" placeholder="name">
        <input type="text" placeholder="password">
        
        <a href="">Login</a>
    </div>
    <div class="login-other-links-info">
        <a class="forgot-password" href="">Forgot Password</a>
        <span>Not a member? <a class="register-now" href="">Register Now</a></span>
    </div>
</section>


{% endblock %}