{% extends 'core/base.html' %}

{% block content %}

<!-- Section -->

<section class="login-section">
    <div class="login-container">
        <h1>Signin to Your Account</h1>
        <form action="" method="post">
            {% csrf_token %}
            <!-- {{ form }} -->

            <!-- Form Style -->
            <div class="login-form-container">
                <div class="login-form-name">
                    <div class="login-u">
                        {{ form.username }}
                    </div>
                    <div class="login-p">
                        {{ form.password }}
                    </div>
                </div>
             
                <div class="login-button">
                    <input class="login-btn" type="submit" value="Submit">
                </div>
            </div>

            <!-- End Form Style -->

            <!-- Name Name -->
            
         </form>
    </div>
    <div class="login-other-links-info">
        <a class="forgot-password" href="">Forgot Password</a>
        <span>Not a member? <a class="register-now" href="{% url 'accounts:register' %}">Register Now</a></span>
    </div>
</section>


{% endblock %}