{% extends 'core/base.html' %}

{% block content %}

    <!-- Section -->

    <section class="register-section">
        <div class="register-container">
            <h1>Create a New Account</h1>
            <input type="text" placeholder="name">
            <input type="text" placeholder="password">
            
            <a href="">Login</a>
        </div>
        <div class="register-other-links-info">
            <span>Already a member? <a class="register-now" href="">Register Now</a></span>
        </div>
    </section>


{% endblock %}